<!doctype html>
<html lang='zh'>
  <head>
    <meta charset='UTF-8' />
    <title>Oops! 404 Not Found</title>
    <style>
      @font-face {
        font-family: 'Ubuntu';
        src: url(/fonts/Ubuntu-Regular.woff2),
          url(/astro-blog/fonts/Ubuntu-Regular.woff2);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Noto Sans SC';
        src: url(/fonts/NotoSansSC-Medium.woff2),
          url(/astro-blog/fonts/NotoSansSC-Medium.woff2);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
      h1 {
        font-size: 48px;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        color: #666;
      }
      img {
        max-width: 100%;
        height: auto;
        margin-top: 30px;
      }
      a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Oops! 404 Not Found</h1>
    <p>Looks like you're lost in cyberspace...</p>
    <p>
      But don't worry! You can <a href='/'>click here</a> to return to safety.
    </p>
  </body>
</html>
