---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title='About Me'
  description='Lorem ipsum dolor sit amet'
  pubDate={new Date('03 25 2024')}
  heroImage='/blog-placeholder-about.jpg'
>
  <span>Hello World!</span>
</Layout>
