---
import type { HTMLAttributes } from 'astro/types'
import { baseUrl } from '../utils/common.ts'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive =
  baseUrl + href === pathname ||
  href === pathname.replace(/\/$/, '') ||
  href === pathname + '/'
---

<a
  href={`${baseUrl}${href}`}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    text-decoration: none;
  }
</style>
